tool/Wav2Lip/models_new/
tool/Wav2lip/__pycache__/*.pyc
__pycache__/*.pyc
tool/Wav2lip/checkpoints/*.pth
tool/Wav2lip/inference1.py
tool/Wav2lip/inference.py
tool/Wav2lip/inference_old.py
tool/Wav2lip/results/temp
tool/infer.sh
tool/jp.sh
tool/ngrok
tool/spec-file.txt
tool/requirements.txt
libopenshot/
libopenshot-audio/
*.pth
*.mp4
*.wav 
*.txt
*.avi
tool/apex/
tool/ls_out/temp/
tool/node_modules/
*.pt 
*.tar
*.yaml
tool/MakeItTalk/examples/ckpt/